.checklistAll{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 15px);
    max-height: 700px;
    overflow: auto;
}
.checklistAll::-webkit-scrollbar{
    display: none;
 }
.checkInput input{
    border-radius: 20px;
    width:230px;
    height: 30px;
    text-align: center;
    color: #706F6F;
    font-size: 17px;
}

.checkContents{
    width:305px;
}

.checkLi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
    color: #706F6F;
}

.checkLi span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex:1;
    padding:0 5px;
}

.addBtn{
    width: 50px;
    height:38px;
    border-radius: 20px;
    border: none;
    background-color: #FFA551;
    color: #fff;
    text-align: center;
}