/* 클래스,아이디 규칙 : 카멜표기 */
body, html {
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.login_container{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3px 10px #cbcbcb, 0 -3px 10px #dddddd;
    border-radius: 5px;
    width:700px;
    padding: 30px;
    /* flex-direction: column; 
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 700px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 10px #cbcbcb, 0 -3px 10px #dddddd;
    padding: 30px;
    min-width: 700px; */
}
.login {
    text-align: center;
    /* background-color: #F6F6F6; */
    border-radius: 20px;
    width: 800px;
    font-family: "Paperlogy, sans-serif";
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* 로고와 폼 요소들이 세로로 정렬되도록 설정 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이를 사용 */
}


.login input {
    height: 50px;
    width: 500px;
    border: 1px solid #DADADA;
    border-radius: 28px;
    margin: 10px;
    padding-left: 20px;
    font-size: 16px;
}
.loginBtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialBtn,.loginBt{
    height: 50px;
    width: 525px;
    margin: 10px 0;
    border-radius: 25px;
    border : none;
    color: #191919;
    font-size: 16px;
    font-weight: 550;
}


.loginBt{
    background-color: #FFA551;
    margin-left: 10px;
}

.kakaoBt{
    background-color: #FEE500;
}

.naverBt{
    background-color: #00ff1f;
}

.googleBt{
    background-color: #00aee1;
}

/* 모바일 전용 */
.login.mobile{
    width:0;
}
.mobile .login_container{
    width: 65vw;
}
.mobile .login_contents{
    width:100%;
}
.mobile .login_contents input {
    width:45vw;
    height: 4vh;
    font-size: 12px;
}
.mobile .loginBtns button{
    width:50vw;
    height: 40px;
    font-size: 12px;
}
.mobile .socialBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile .socialBtn, .loginBt {
    margin: 5px 0;
}