.mainModal{
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainModal .modal-actions {
    margin-top: 20px;
}
.mainModal .modal-body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLocal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.siGun{
    width: 780px;
    height: 355px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8;
}
.siGunImg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.siGunImg img{
    width:355px;
    height:355px;
}

.siGunText{
    color:#575756;
    position: relative;
}

.siGunText{
    color:#575756;
    position: relative;
}
.tripSelect p{
    font-size: 18px;
    color: #F6A354;
}
.guSelect{
    width: 740px;
    height: auto;
    border: 2px solid #F6A354;
    border-radius: 10px;
    padding : 20px;
    text-align: center;
    line-height: 1.8;
    font-weight: 600;
    color: #575756;
    font-size: 15px;
}

.guBt{
    margin:4px;
    width:70px;
    height: 26px;
    border-radius: 13px;
    border: none;
    background-color: #F6A354;
    color: #fff;
}

.seoulKo, .seoulEn{
    display: inline;
}

.seoulKo{
    font-size: 60px;
    font-weight: 600;
    color: #575756;
}

.seoulEn{
    margin-left: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #9D9D9C;
}
/* .mainModal .modal-body{
    
} */


.categoryAll{
    width:500px;
}


.categoryBtns {
    text-align: center;
}

.categoryBtns button{
    margin-right: 20px;
    border:none;
    font-size: 18px;
    background-color: #F6A354;
    color: #fff;
    width: 60px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px 1px #ccc;

}
.categoryBtns button:hover{
    background-color:#f78b26;
}
.categoryBtns button:focus{
    background-color:#f78b26;
}

.categoryList{
    border: 2px solid #F6A354;
    border-radius: 10px;
    height: 500px;
    overflow: scroll;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
}
.categoryList::-webkit-scrollbar {
    display: none;
}

.categoryList div p {
    padding-left : 20px;
}

.listContents{
    display:flex;
    align-items: center;
    margin : 20px; 

}

.listContents .icon{
    width:50px;
    height:50px;
}

.listContents .icon img{
    width:100%;
    height:100%;
}

.icon img{
    float: right;

}
.listInfo{
}
.suggestStyle{
    color:#F6A354;
    font-weight: bold;
}
.suggestName{
    color:#9D9D9C;
    font-weight: 600;
    margin-right: 10px;
}
.suggestData{
    color:#9D9D9C;
}
