#mapPlan {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

#dayFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: "GmarketSansMedium";
}

#dayChecks input {
  border: none;
  border-radius: 8px;
  background-color: #f6a354;
  color: #fff;
  width: 45px;
  height: 30px;
  font-size: 12px;
}
#dayChecks input:hover {
  background-color: #f78b26;
}
#dayChecks input:focus {
  background-color: #f78b26;
}

/* 모바일 반응형 */

